@charset "utf-8";
* {
	font-size:12px;
}
html, body {
	margin:0px;
	padding:0px;
}
img{
	border:0px;
	padding:0px;
	margin:0px;
	}
#LoginBody {
	margin: 0px;
	font-family: Arial, "宋体";
	background: url(../images/login_BodyBg.jpg) center top #4d55b5;
}
#wrap {
	background: url(../images/login_bgimg.jpg) no-repeat;
	height: 370px;
	width: 620px;
	position: relative;
	margin: auto;
	top: 70px;
}
#login_wrap {
	width: 320px;
	position: absolute;
	right: 75px;
	top: 144px;
}
#login_wrap ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: #fff;
	float: left;
	text-align: left;
	display: block;
}
#login_wrap li {
	height: 30px;
	text-align: left;
	width: 100%;
}
#login_wrap input {
	width: 122px;
	border: solid 1px #145eda;
	background:url(../images/bg_input.jpg) left top no-repeat #fff;
	height: 18px;
	padding:2px 4px;
	color:#666;
	font-family: Arial, "宋体";
}
#login_wrap input.yzm {
	width:55px;
	margin-right:7px;
}
#login_wrap .login_on {
	position: absolute;
	top:17px;
	z-index:5000;
	left:210px;
	width:66px;
	height:52px;
}
#login_wrap .login_on a {
	width:66px;
	height:52px;
	display:block;
	background:url(../images/login_03.gif) left top no-repeat;
}
#login_wrap .login_on a:hover {
	background:url(../images/login_05.gif) left top no-repeat;
}


#epage_help {
	color: #fff;
	position: absolute;
	right: 31px;
	bottom: 29px;
	width: 200px;
	text-align: right;
}
#epage_help a {
	color: #fff;
	text-decoration: none;
	padding:0 10px;
}
#epage_help a:hover {
	color: #fff;
	text-decoration:underline
}


#TextUser, #TextUser li {
	width: 50px !important;
}
#TextUser li {
	line-height:30px;
}
#TextUser img{
	width:60px;
	height:20px;
	border:0px;
	}

/*  flash  */

#flash01, #flash02, #flash03, #flash04, #flash05, #flash06, #flash07, #flash08 {
	position: absolute;
	left: 18px;
	top: 25px;
	width: 28px;
	height: 39px;
}
#flash03{
	top: 27px;
	left: 20px;
}
#flash01 {
	left: 22px;
}
#flash04 {
	top: 220px;
	left: 142px;
}
#flash02 {
	top: 226px;
}
#flash05 {
	left: 502px;
	top: 132px;
}
#flash06 {
	display:none;
	left: 133px;
	top: -1px;
}
#flash07 {
	left: 468px;
	top: 127px;
}
#flash08 {
	left: 85px;
	top: 148px;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
