<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<!-- orderSAP -->
	<bean id="orderSapManager" class="com.winchannel.order.service.OrderSapManager"/>
	<bean id="mdmDistributorAddressManager" class="com.winchannel.order.service.MdmDistributorAddressManager"/>
	<bean id="orderInfoManager" class="com.winchannel.order.service.OrderInfoManager"/>
	<bean id="mdmDistEmpProdgroupManager" class="com.winchannel.order.service.MdmDistEmpProdgroupManager"/>
	<bean id="mdmDistOrderempProdgroupManager" class="com.winchannel.order.service.MdmDistOrderempProdgroupManager"/>
	<bean id="orderItemManager" class="com.winchannel.order.service.OrderItemManager"/>
	<bean id="mdmDistributorLinkmanManager" class="com.winchannel.order.service.MdmDistributorLinkmanManager"/>
	<bean id="orderAgreementLogManager" class="com.winchannel.order.service.OrderAgreementLogManager"/>
	<bean id="orderSuperAbolishedLogManager" class="com.winchannel.order.service.OrderSuperAbolishedLogManager"/>
	<bean id="mdmProdGroupDeliveryDaysManager" class="com.winchannel.order.service.MdmProdGroupDeliveryDaysManager"/>
	
</beans>
