<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!-- 管理后台的Spring Servlet配置文件 -->
<beans default-autowire="byName" default-lazy-init="true">
	<bean name="/mdm/mdmProduct" class="com.winchannel.mdm.product.web.MdmProductAction"/>
	<bean name="/mdm/mdmDistributor" class="com.winchannel.mdm.distributor.web.MdmDistributorAction"/>
	<bean name="/mdm/mdmStore" class="com.winchannel.mdm.store.web.MdmStoreAction"/>
	<bean name="/mdm/mdmCalendar" class="com.winchannel.mdm.calendar.web.MdmCalendarAction"/>
	<bean name="/mdm/mdmConversion" class="com.winchannel.mdm.conversion.web.MdmConversionAction"/>
	<bean name="/mdm/mdmAfsProduct" class="com.winchannel.mdm.product.web.MdmAfsProductAction"/>
	<bean name="/mdm/mdmAfsLocation" class="com.winchannel.mdm.location.web.MdmAfsLocationAction"/>
	<bean name="/tree/mdmTree" class="com.winchannel.mdm.base.web.MdmTreeAction"/>
</beans>